<section>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="auth-component">
        <div class="logo text-center">
          <img src="../../../../assets/images/logo.svg" alt="" />
        </div>

        <div class="form-content">
          <h3>Reset Password</h3>
          <p>Please Enter Your Otp or Check Your Inbox</p>

          <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm)">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-mobile-screen"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="email"
                    aria-label="email"
                    aria-describedby="basic-addon1"
                    formControlName="email"
                  />
                </div>
              </div>

              <div class="col-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-mobile-screen"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="OTP"
                    aria-label="seed"
                    aria-describedby="basic-addon1"
                    formControlName="seed"
                  />
                </div>
              </div>

              <div class="col-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-lock"></i>
                  </span>
                  <input
                    [type]="isHide ? 'password' : 'text'"
                    class="form-control"
                    placeholder="password"
                    aria-label="password"
                    aria-describedby="basic-addon1"
                    formControlName="password"
                  />
                  <a class="input-group-text" (click)="isHide = !isHide">
                    <span id="basic-addon1">
                      <i
                        class="fa-solid"
                        [class]="isHide ? 'fa-eye-slash' : 'fa-eye'"
                      ></i>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-lock"></i>
                  </span>
                  <input
                    [type]="isHide ? 'password' : 'text'"
                    class="form-control"
                    placeholder="confirmPassword"
                    aria-label="confirmPassword"
                    aria-describedby="basic-addon1"
                    formControlName="confirmPassword"
                  />
                  <a
                    class="input-group-text"
                    (click)="isHideConfirmPassword = !isHideConfirmPassword"
                  >
                    <span id="basic-addon1">
                      <i
                        class="fa-solid"
                        [class]="
                          isHideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'
                        "
                      ></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button class="btn-green">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
